{% extends 'base.html' %}

{% block head %}
<title>Create Workout</title>
{% endblock %}

{% block body %}
<div class="content">
    {% if not workout %}
        <h1>Create your workout</h1>

        <form action="/CreateWorkout/" method="POST">
            <input type="text" name="name" id="name">
            <input type="submit" value="Create Workout">
        </form>
    {% else %}
        <h1>Update your Workout</h1>
        {% if workout.routine|length > 0 %}
            <table>
                <tr>
                    <th>Exercise Name</th>
                    <th>Reps x Sets</th>
                    <th>
                    </th>
                </tr>
                {% for exercise in workout.routine %}
                    <tr>
                        <td>{{exercise.name}}</td>
                        <td>{{exercise.reps}} x {{exercise.sets}}</td>
                        <td>
                            <a href="/workout/delete/{{exercise.id}}">Delete</a>
                            <a href="/workout/update/{{exercise.id}}">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <br>
        <form action="/update/{{workout.id}}" method="POST">
            <input type="text" name="name" id="name" value="">
            <input type="text" name="reps" id="reps" value="">
            <input type="text" name="sets" id="sets" value="">
            <input type="submit" value="Add Exercise">
        </form>
        
    {% endif %}
    <br>
    <form action="/" method="GET">
        <input type="submit" value="Back to Workouts">
    </form>
</div>
{% endblock %}

